/* src/styles/LoginPage.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #d8dfed 0%, #c0dcf4 100%); /* Green gradient background */
  background-size: cover;
  padding: 20px;
}

.user-icon {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dadbf3; /* Dark green for icon background */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.login-form {
  background: rgba(255, 255, 255, 0.2); /* Glass effect */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 2;
}

.login-form .MuiTypography-h5 {
  color: #2314e9;
  margin-bottom: 20px;
}

.input-field {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.login-form .MuiInputBase-root {
  border-radius: 5px !important;
}

.login-form .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.checkbox {
  color: #ffffff;
}

.forgot-password {
  color: #bbdefb;
  text-decoration: underline;
  cursor: pointer;
}

.login-button {
  margin-top: 20px;
  background-color: #1c89ea !important; /* Dark green button */
  color: white !important;
  border-radius: 5px !important;
  padding: 10px !important;
  font-weight: bold !important;
}

.login-button:hover {
  background-color: #7f6bf0 !important; /* Darker green on hover */
}