/* src/styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #f1eded;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sidebar styling */
.MuiDrawer-paper {
  background-color: #f5f5f5;
}

.MuiListItemButton-root {
  padding: 10px 20px;
}

.MuiListItemText-primary {
  color: #e7e2e2;
}
.header-color{
  background: #1cac78 !important;
}
.main-menu-btn{
      background: linear-gradient(181deg, #28eca5, #214836);
}
.main-menu-btn:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}
.rule_border_btn{
  border: 1px solid #1cac78 !important;
  color: #1cac78 !important;
}